extends layout

block content
  h1=title
  a(href="/workouts/mine").btn.btn-primary My Workouts
  .container.mt-4
    h2 All Workouts
    .input-group
      input(type="text" placeholder="Search").form-control
      div.input-group-append
        button.form-control.btn.btn-secondary
          i.fa.fa-search
    .container.mt-4
      for workout in workouts
        a(href="/workouts/" + workout._id)
          if workout.name.length > 40
            h5.mt-2=workout.name.slice(0,40)+'...'
          else
            h5.mt-2=workout.name
        if workout.description.length > 80
          p.ml-4=workout.description.slice(0,80)+'...'
        else
          p.ml-4=workout.description
          